
{% load static %}
{% load unicorn %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>CONTACT LIST</title>
    {% unicorn_scripts %}
</head>

<body>
    <h1>WELCOME</h1>

    <div>
        <form method="post">
            {% csrf_token %} 
            
            <div class="form-group">
                {{ form.name }}
            </div>
            <div class="form-group">
                {{ form.ph_num }}
            </div>
            
            <input type="submit" value="Submit" />
        </form>
    </div>
    <div>
        <h2>CONTACTS</h2>
    </div>
    <div>
        {% unicorn 'events' %}
    </div>

</body>
</html>



